.Modal {
    position: absolute;
    z-index: 500;
    background-color: white;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 2em;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    left: 0;
    right: 0;
    margin: auto
}

/* @media (min-width: 600px) {
    .Modal {
        width: 550px;
        left: calc(50% - 275px);
    }
} */